<div class="timeline-cointainer">
    <div class="item-timeline" *ngFor="let item of data; let i = index">
              
      <mat-card>
            <mat-card-header *ngIf="avatar.length > 0">
              <div mat-card-avatar class="header-image" [lazyLoad]="avatar[i]" ></div>
              <mat-card-title>{{item.title}} {{i + 1}}</mat-card-title>
              <mat-card-subtitle>Raza "cacri"</mat-card-subtitle>
            </mat-card-header>
            <div mat-card-image>
                    <youtube-player
                    class="player"
                    [videoId]="item.id"
                    (ready)="savePlayer($event)"
                    (change)="onStateChange($event)"
                    [width]="400"
                ></youtube-player>
            </div>
            
            
            <!-- <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions> -->
          </mat-card>
    </div>
</div>
