.timeline-cointainer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    display: block;    
    color: white;
    position: relative;
    overflow-y: auto;
    .item-timeline {
        margin-bottom: 40px;
    }
    .header-image {
        // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        background-size: cover;
        
    }    
    .mat-card {
        background: rgba(0, 0, 0, 0.65);
    }
    .mat-card-image {     
        text-align: center;
        height: 270px;
    }
    .mat-card {     
        padding-bottom: 0;
    }
    
}
