.bkg {
    background-color: #fafafa;    
    background-image: url("../assets/bkg.jpg");
    background-size: cover;
    background-position: center;
    position: fixed;
    width: 100%;
    height: 100vh;
}
.banner {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    img {
        width: 275px;
    }
}
.container {
    display: block;
    width: 100%;
    .left {
        width: 400px;
        display: block;
        margin-right: auto;
        float: left;
        margin-left: 50px;
        @media screen and (max-width: 950px ) {
            float: none;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .right {
        width: 400px;
        display: block;
        float: right;
        margin-right: 50px;
        @media screen and (max-width: 950px ) {
            float: none;
            margin-left: auto;
            margin-right: auto;
        }
        
    }

}