<div class="bkg"></div>
<div class="banner"><img src="https://www.gifsanimados.org/data/media/49/cumpleanos-imagen-animada-0264.gif" alt=""></div>
<div class="container">  
  <div class="column-container">
      <div class="left">
        <elo-timeline [data]="data1" [avatar]="cats"></elo-timeline>
      </div>
      <div class="right">
        <elo-timeline [data]="data2" [avatar]="dogs"></elo-timeline>
      </div>
      
  </div>
  <div class="container-center">
      <div class="center">
        <elo-timeline [data]="data3" [avatar]="dogs"></elo-timeline>
      </div>
    </div>
  
  
  
  <router-outlet></router-outlet>
</div>